@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Parisienne');

*{
  box-sizing: border-box;
  transition: all 0.7s ease-in-out;

}


body {
  background-image: url("../images/footer_lodyas.png");
  font-family: Monserrat;
}

.main-text{
  text-align: center;

}

.nice-family{
  font-family: Parisienne;
  font-size: 2em;
}

.profile-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom:50px;
  background-image: url("../images/houseoffice.jpeg");

}

.popular-items{
    background-image: url("../images/footer_lodyas.png");
    padding: 5%;
    text-align: center;
}

.main-title{
  padding-bottom: 30px;
  color: white;
  text-align:center !important;
}



footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;

}


.container-login{

 min-height: 100vh;
}

.login-div{
  background-color: rgba(185, 176, 176,0.2);
  padding: 40px;
  border-radius: 10px;
}



.about-section{

    padding: 5%;
}
.faq-section{
padding: 5%;
}

.card-pic
{
  width: 100%;
  border-radius: 50%;
  padding: 10%;

}

.about-card{
  background-color: rgba(185, 176, 176,0.7);
  margin: 10px;
  border-radius: 10px;
  border: solid 1px black;
}

.icon-ecommerce{
  width: 70px;
  margin-right: 20px;
}
.tata{
    width: 40px;
}

.nav-icon{
  color: black;
}
.navbar {
  color: white;
}


.mision-section, .vision-section, .values-section{

  padding: 5%;


}

.mision-section{
background-image: url("../images/subtle_white_mini_waves.png");
padding: 5%;
border: 1px solid black;
margin: 5%;
border-radius: 10px;
}
 .vision-section{
background-image: url("../images/strange_bullseyes.png");
padding: 5%;
border: 1px solid black;
margin: 5%;
border-radius: 10px;
}
.values-section{
background-image: url("../images/knitting250px.png");
padding: 5%;
border: 1px solid black;
margin: 5%;
border-radius: 10px;

}

.register-container{
  min-height: 100vh;
}


.grey-area{
  background-color: rgba(185, 176, 176,0.2);
  border-radius: 10px;
  padding: 5%;
  margin: 5%;

}

.card-title{
  font-weight: bold;
}

article img{
  width: 100%;
  margin-bottom: 15px;
}

.mytest{
  width: 100% !important;
}

.copyright{
  font-size: 10px;
}

.black-separator{
  font-size: 50px;
  color: black;
}

.bigger-on-hover:hover{
  color: white!important;
  font-size: 50px!important;
}

.bigger-on-hover{
  padding: 5px;
  transition: 0.9s;
  text-align: left;
}
.social-items-container{
  height: 50px;
}

.thumbnail-title {
  font-size: 20px;
  margin-top: 25px;
}
.img-thumb-bg {
  padding: 0;
  overflow: hidden;
  min-height: 200px;
  position: relative;
  border-radius: 3px;
  background-position: center;
  background-color: transparent;
  /* background-image: url('http://projects.mostlikers.com/_images/estate-image.jpg'); */
}
.img-thumb-bg p {
  color: #fff;
  margin-bottom: 0;
  line-height: 16px;
}
.img-thumb-bg .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
    text-align: left;
  transition: all 0.7s ease-in-out;
  background: rgba(0, 0, 0, 0);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.img-thumb-bg .caption {
  bottom: -5px;
  height: 100px;
  font-size: 12px;
  position: absolute;
  padding: 0 20px 20px;
  transition: all 0.7s ease-in-out;
    text-align: left;
}
.img-thumb-bg .caption .tag a {
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  /* background-color: #2980B9; */
}
.img-thumb-bg .caption .title {
  margin-top: 5px;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
}
.img-thumb-bg .caption .title a {
  color: #fff;
}
.img-thumb-bg .caption .title a:hover {
  color: #2980B9;
}
.img-thumb-bg .caption .meta-data {
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 15px;
}
.img-thumb-bg .caption .meta-data a {
  color: #777;
}
.img-thumb-bg .caption .meta-data a .fa {
  color: #2980B9;
}
.img-thumb-bg .caption .meta-data a:hover {
  color: #2980B9;
}
.img-thumb-bg .caption .content {
  display: none;
}
.img-thumb-bg:hover .overlay {
  background: rgba(46, 49, 58, 0.8);
}
.img-thumb-bg:hover .caption {
  bottom: 60px;
}
.img-thumb-bg:hover .caption .content {
  display: block;
}

.Alquiler{
  background-color: rgb(35, 96, 7);
}

.Venta{
  background-color: rgb(7, 125, 97);
}

.Loteo{
  background-color: rgb(7, 35, 96);
}

.Casa{
  background-color: rgb(96, 92, 7);
}

.Departamento{
  background-color: rgb(138, 64, 10);
}
.Campo{
  background-color: rgb(138, 29, 10);
}

.padding-top-30{

  padding-top: 30px;
}

.black-bg
{
  background-color: black;
}
