@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

*{
  box-sizing: border-box;

}


body {
  background-image: url("../images/doodles.png");

}

.main-text{
  text-align: center;

}

.profile-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom:50px;
    background-image: url("../images/wood_pattern.png");

}

.popular-items{
    background-image: url("../images/doodles.png");
    padding: 5%;
    text-align: center;
}

.title{
  padding-bottom: 30px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;

}
.faq-title
{
  text-align:center !important;
}

.container-login{

  background-image: url("../images/doodles.png");
 height: 100vh;
}

.login-div{
  background-color: gray;
  padding: 30px;
  border-radius: 10px;
}



.about-section{

    padding: 5%;
}
.faq-section{
padding: 5%;
background-image: url("../images/doodles.png");
}

.card-pic
{
  width: 100%;
  border-radius: 50%;
  padding: 10%;

}

.card{
  background-color: rgb(185, 176, 176,0.7);
}

.icon-ecommerce{
  width: 70px;
  margin-right: 20px;
}

.nav-icon{
  color: black;
}


.mision-section, .vision-section, .values-section{
  height: 33vh;
  padding: 5%;
}

.mision-section{
background-image: url("../images/subtle_white_mini_waves.png");
padding: 5%;
border: 1px solid black;
margin: 10%;
border-radius: 10px;
}
 .vision-section{
background-image: url("../images/strange_bullseyes.png");
padding: 5%;
border: 1px solid black;
margin: 10%;
border-radius: 10px;
}
.values-section{
background-image: url("../images/knitting250px.png");
padding: 5%;
border: 1px solid black;
margin: 10%;
border-radius: 10px;

}
